[ROGER_SKYLINE_1]
VMNAME      = "foo5"
OSTYPE      = "Debian_64"
RAM         = "1024"
CPU_CORE    = "2"
DISK_SIZE   = "8000"
DISK_FORMAT = "vdi"
DISK_TYPE   = "hdd"
ISO_PATHNAME= "./iso/preseed-mini.iso"
#vboxmanage can't read tild
